/*
https://colordesigner.io/gradient-generator
 */
.tile_2 {
    -fx-background-color: #EEE4DA;
}
.tile_4 {
    -fx-background-color: #EEE1C9;
}
.tile_8 {
    -fx-background-color: #F3B27A;
}
.tile_16 {
    -fx-background-color: #F69664;
}
.tile_32 {
    -fx-background-color: #F77C5F;
}
.tile_64 {
    -fx-background-color: #F75F3B;
}
.tile_128 {
    -fx-background-color: #EDD073;
}
.tile_256 {
    -fx-background-color: #EDC950;
}
.tile_512 {
    -fx-background-color: #f3c528;
}
.tile_1024 {
    -fx-background-color: #b4900c;
}
.tile_2048 {
    -fx-background-color: #8d6f05;
}
.tile_above {
    -fx-background-color: #4d582a;
}

.tileLabel_10{
    -fx-padding: 25 0 0 40;
    -fx-text-fill: white;
    -fx-font-size: 36;
}

.tileLabel_100{
    -fx-padding: 25 0 0 30;
    -fx-text-fill: white;
    -fx-font-size: 36;
}

.tileLabel_1000{
    -fx-padding: 25 0 0 20;
    -fx-text-fill: white;
    -fx-font-size: 36;
}

.tileLabel_10000{
    -fx-padding: 25 0 0 10;
    -fx-text-fill: white;
    -fx-font-size: 36;
}
